In [5]:
from scipy.stats import norm
import numpy as np
import pandas as pd

df = pd.read_csv('data.csv')
df.tail()

def bsCall(S, K, r, s, T):
    d1 = (np.log(S/K) + (r + 0.5*s**2)*T)/(s*np.sqrt(T))
    d2 = d1 - s*np.sqrt(T)
    return S*norm.cdf(d1) - K*np.exp(-r*T)*norm.cdf(d2)
    
def bsPut(S, K, r, s, T):
    d1 = (np.log(S/K) + (r + 0.5*s**2)*T)/(s*np.sqrt(T))
    d2 = d1 - s*np.sqrt(T)
    return -S*norm.cdf(-d1) + K*np.exp(-r*T)*norm.cdf(-d2)

,Date,SPX,VIX,PUT90,PUT75,PUT60,PUT50,PUT40,PUT25,PUT10,ATM,CALL10,CALL25,CALL40,CALL50,CALL60,CALL75,CALL90
4063,2/24/2021,3925.43,21.34,19.2316,14.0491,15.2208,16.2845,17.6574,21.0940,27.4330,16.2805,13.3799,14.0491,15.2208,16.2845,17.6574,21.0940,27.4330
4064,2/25/2021,3829.34,28.89,22.5520,17.8636,20.3021,22.2271,24.6487,29.1284,36.8833,22.3842,15.8509,17.8636,20.3021,22.2271,24.6487,29.1284,36.8833
4065,2/26/2021,3811.15,27.95,22.1481,17.6894,20.2403,22.2543,24.7472,29.1632,36.2636,22.4030,15.8221,17.6894,20.2403,22.2543,24.7472,29.1632,36.2636
4066,3/1/2021,3901.82,23.35,19.6348,14.8499,16.2340,17.4804,19.2424,23.2634,30.4236,17.4534,14.1360,14.8499,16.2340,17.4804,19.2424,23.2634,30.4236
4067,3/2/2021,3870.29,24.10,20.1680,15.4819,17.0890,18.5303,20.3668,24.3382,31.3733,18.5608,14.4784,15.4819,17.0890,18.5303,20.3668,24.3382,31.3733